#score-container {
    display: flex;
}

#info {
    background-color: #ccc;
    padding: 10px;
    border: 1px dashed black;
    border-radius: 5px;
}

.score {
    margin-right: 20px;
}

#button-box {
    margin: 10px 0px 10px 0px;
}

#winner {
    padding: 10px;
    border: 1px dashed black;
    border-radius: 5px;
}

.playerWon {
    background-color: green;
}

.playerLost {
    background-color: red;
}

.tie {
    background-color: yellow;
}