<!doctype html>
<html lang='en'>

<head>
    <title>Paper Rock Scissors</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='script.js' defer></script>
</head>

<body>
<h1>Paper Rock Scissors</h1>

<div id='app'>
    <p>Your choice?</p>
    <p>Player score: {{ playerScore }} Computer score: {{ computerScore }}</p>
    <form>
        <input id="paper" type="radio" v-model="playerChoice" value="paper">
        <label for="paper">Paper</label>
        <input id="rock" type="radio" v-model="playerChoice" value="rock">
        <label for="rock">Rock</label>
        <input id="scissors" type="radio" v-model="playerChoice" value="scissors">
        <label for="scissors">Scissors</label>
    </form>
    <button v-on:click="go">Go!</button>
    <button v-on:click="reset">Reset</button>
    <p>{{ guesses }}</p>
</div>
</body>

</html>